.listAnItemMenu {
    text-align: center;
    min-width: 1000px;
}

.dashboardButton {
    margin: 0.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 0.7vmax;
    font-size: 120%;
    padding: 0.4% 1% 0.4% 1%;
    cursor: pointer;
}

.title,
.quantity,
.tag,
.price,
.imageURL,
.description {
    font-size: 120%;
}

.titleTextbox,
.quantityTextbox,
.tagSelect,
.priceTextbox,
.imageURLTextbox,
.descriptionTextarea {
    margin-top: 0.5%;
    margin-left: 1%;
    font-size: 90%;
}

.titleTextbox,
.imageURLTextbox {
    width: 19vmax;
}

.quantityTextbox,
.priceTextbox {
    width: 80px;
}

.descriptionTextarea {
    height: 7vmax;
    width: 23vmax;
    font-size: 120%;
}

.divDescription {
    display: flex;
    justify-content: center;
}

.saveItemButton {
    margin-top: 2%;
    margin-bottom: 2%;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 0.7vmax;
    font-size: 120%;
    padding: 0.4% 1% 0.4% 1%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.successfulListing {
    text-align: center;
    color: green;
    font-size: 130%;
    margin-bottom: 2%;
}

.errorListing {
    text-align: center;
    color: rgb(150, 0, 0);
    font-size: 130%;
    margin-bottom: 2%;
}

.listAnItemErrors {
    margin-top: 2%;
    font-size: 120%;
    color: rgb(193, 25, 25);
}

.previewItem {
    display: flex;
    justify-content: center;
}

.titleContainer,
.tagContainer,
.quantityContainer,
.priceContainer,
.descriptionContainer {
    font-size: 120%;
    justify-content: center;
    margin-bottom: 2vmax;
    word-wrap: break-word;
}

.infoContainer {
    max-width: 40%;
    margin-right: 3%;
}

.imageContainer {
    max-width: 40%;
}

.image {
    max-width: 100%;
}