.login-form {
    text-align: center;
}

.greet {
    font-size: 24px;
}

.email {
    font-size: 20px;
}

.password {
    font-size: 20px;
}

.log-in-button {
    background-color: rgb(34, 149, 42);
    border: none;
    font-size: 20px;
    border-radius: 6px;
    margin-top: 10px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
}

.log-in-button:hover {
    background-color: rgb(47, 120, 53);
}

.register {
    font-size: 20px;
}

.invalidCredentials {
    font-size: 24px;
    color: red;
}