.loginForm {
    text-align: center;
    min-width: 1000px;
}

.greet {
    font-size: 150%;
}

.email,
.password {
    font-size: 130%;
}

.loginButton {
    margin: 0.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(80, 80, 80);
    border: none;
    border-radius: 0.7vmax;
    font-size: 120%;
    padding: 0.4% 1% 0.4% 1%;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgb(58, 58, 58);
}

.registerHere {
    font-size: 130%;
}

.invalidCredentials {
    font-size: 24px;
    color: rgb(204, 1, 1);
}