.shoppingCart {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.itemInShoppingCart {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 70%;
    margin-bottom: 2%;
    border: 4px solid rgb(133, 193, 253);
    position: relative;
}

.itemImageContainerInShoppingCart {
    width: 15%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.itemImageInShoppingCart {
    max-height: 130px;
    max-width: 130px;
}

.itemTitleAndPriceContainerInShoppingCart {
    display: flex;
    justify-content: space-between;
    width: 83%;
}
.itemTitleInShoppingCart {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    max-width: 82%;
    margin-left: 1%;
    font-size: 130%;
}

.itemPriceInShoppingCart {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    font-size: 120%;
}