.shoppingCartComponent {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(182, 182, 182, 0.345);
    padding-top: 2%;
}

.shoppingCart {
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.itemInShoppingCart {
    display: flex;
    flex-direction: row;
    height: 130px;
    width: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    margin-bottom: 2%;
}

.itemImageContainerInShoppingCart {
    display: flex;
    justify-content: center;
    margin: 4px;
    width: 15%;
    overflow: hidden;
}

.itemImageInShoppingCart {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.itemInfoContainerInShoppingCart {
    display: flex;
    width: 85%;
}

.itemTitleInShoppingCart {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin-left: 1%;
    font-size: 130%;
}

.itemCountAndPriceInShoppingCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 20%;
    min-width: 100px;
    margin-right: 3%;
}

.itemCountContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.incrementButton,
.decrementButton {
    width: 30px;
    height: 30px;
    font-size: 150%;
    background-color: #4b4b4b;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.countValue {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 130%;
}

.itemPriceInShoppingCart {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-size: 130%;
}

.removeItemFromShoppingCart {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: 120%;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.finalPrice {
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 2%);
    height: 40px;
    margin-bottom: 2%;
    text-align: right;
    padding-right: 2%;
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.goBackButtonInShoppingCart,
.orderButton {
    background-color: #4b4b4b;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5% 1.1%;
    border-radius: 0.7vmax;
    font-size: 140%;
    font-family: Arial, sans-serif;
    margin-bottom: 2%;
}

.goBackButtonInShoppingCart:hover,
.incrementButton:hover,
.decrementButton:hover,
.orderButton:hover {
    background-color: rgb(36, 36, 36);
}

.orderResponse {
    font-size: 120%;
}

.colorRed {
    color: rgb(254, 126, 126);
}