.userInfoDiv {
    background-color: rgba(182, 182, 182, 0.345);
}

.innerDiv {
    display: flex;
    width: 100%;
    min-height: 700px;
    padding-left: 10%;
    padding-top: 7%;
}

.accountDetails {
    font-size: 130%;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountInfoLine {
    margin-bottom: 5%;
}
.goBackButton {
    background-color: rgba(56, 56, 56, 0.971);
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 0.7vmax;
    font-size: 110%;
    font-family: Arial, sans-serif;
    margin-top: 20%;
}

.goBackButton:hover {
    background-color: rgb(35, 35, 35);
}

.orderDiv {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}


.orderHistory {
    font-size: 130%;
}

.order {
    background-color: rgb(194, 194, 194);
    border-radius: 18px;
    margin-top: 3%;
    min-width: 350px;
}

.orderDate {
    margin: 1% 4% 0% 4%;
    font-size: 120%;
}

.orderPrice {
    margin: 3% 4% 0% 4%;
    font-size: 120%;
}

.moreDetailsDiv {
    margin: 3% 2% 0% 4%;
}

.orderItemsDiv {
    margin: 3% 4% 0% 4%;
}

.orderItem {
    margin-left: 6%;
    margin-right: 2%;
}

.moreDetails {
    /* margin: 1% 2% 2% 1%; */
    margin-bottom: 2%;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.noOrders {
    margin-top: 15%;
    font-size: 130%;
    font-style: italic;
}